.container{
  margin-top: 100px;
  height: 700px;
  width: 500px;
  position: absolute;
  border-radius: 5px;  
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  display: flexbox;
  top: auto;
  left: 35%;
}

h1 {
  background-color: #5f5f5f;
  margin: 0;
  border-radius: 25px 25px 0 0;
  line-height: 1.8;
}

p {
  margin: 0;
}
input,
select {
  font-size: 20px;
  border-radius: 5px;
  margin-top: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}

.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
button {
  background-color: #5f5f5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 20px;
  width: 175px;
}
button:hover {
  background-color: #777777;
  cursor: pointer;
}

.result {
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 4rem;
  border: 2px solid #000;
  border-radius: 25px;
  text-align: center;
}
.result p {
  margin: 1rem;
}
